#testimonials {
    padding: 7% 15%;
    text-align: center;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.testimonial-star {
    margin: 40px 0px;
}
#about {
    padding: 7% 15%;
    text-align: center;
    background-image: url("images/background-image.png");
}
.about-heading {
    margin: 30px auto;
}
.about-content {
    margin: 20px 0px;
    font-size: 1.5rem;
    line-height: 1.5;
    
}
#doctors {
    padding: 7% 15%;
}
.card{
    border-style: solid;
    border-width: 2px;
    border-color: green;
    text-align: center;
}
.card-img-top {
    width:80%;
    border: 1px solid green;
    border-radius: 4%;
}
.card-title {
    margin: 20px 0px 5px 0px;
}
.card-post {
    margin: 5px 0px 15px 0px;
}
